
body{
    background-color: rgb(189, 189, 204);
}

#semaforo{
    background: black;
    width: 260px;
    height: 570px;
    margin-top: 60px;
    border: 20px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 12px;

}
    #semaforo .redLight,
    #semaforo .yellowLight,
    #semaforo .greenLight{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
}









